location                          = "eastus"
resource_group_name               = ""
storage_account_name              = "" # must be globally unique
container_name                    = ""
subscription_id                   = "00000000-0000-0000-0000-000000000000" 
